.v-cart {
    width: 270px;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 6px 10px 0 rgba(95, 101, 105, 0.15);
    padding-bottom: 8px;
    &-img {
        height: 152px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-summary {
        padding: 8px;
        text-align: left;
        font-size: 14px;
    }
}